* {
	margin: 0;
	padding: 0;
}

#realtime {
	color: white;
}

#leftHome {
	width: 50%;
	height:100vh;
	float: left;
	background-color: #2088E5;
	text-align: center;
	text-decoration: none;
}

#leftHome a {
	color: #333366;
	text-decoration: none;
}

#rightHome {
	position: relative;
	width: 50%;
	height:100vh;
	float: right;
	background-color: #FFFFFF;
	text-align: center;
	text-decoration: none;
}

.logo-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	background: transparent;
	width: 100%;
	height: 100vh;
	text-align: center;
	z-index: 999;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.central-logo {
	vertical-align: middle;
    max-height: 100vh;
    max-width: 100%;
    width: 400px;
}

.right-nav {
	position: absolute;
	z-index: 999;
	right: 0;
	top: 20px;
	width: 100%;
	text-align: center;
}

.right-nav li {
	display: inline-block;
	margin-right: 25px;
}

.right-nav li a {
	color: #333366;
	transition: all 0.5s;
	text-decoration: none;
	font-size: 15px;
}

.right-nav li a:hover {
	color: #2088E5;

}
